.header-title {
  font-size: 4.5rem;
  text-align: center;
  text-transform: uppercase;
  margin: 1.5rem auto;
  font-weight: 700;
  letter-spacing: 1px;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1);
  color: #d66360;
}

.header-title::after {
  content: '';
  width: 12rem;
  height: 2px;
  background: #afa8a2;
  display: block;
  margin: 1.5rem auto 0 auto;
}

.header-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem 0;
}

.header-content span {
  color: #d66360;
}

.header-controls {
  font-size: 3rem;
  text-align: center;
  flex: 0 0 40%;
}

.header-controls span {
  font-size: 3.5rem;
  display: inline-block;
  margin: 0.5rem;
  cursor: pointer;
}

.header-sp {
  font-size: 3rem;
  flex: 0 0 40%;
}
