* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  color: #777;
  font-family: 'Chakra Petch', sans-serif;
  background: #f7f7f7;
}

ul {
  list-style: none;
}

.container {
  max-width: 72rem;
  margin: 3rem auto auto auto;
  border: 10px solid rgba(0, 0, 0, 0.8);
  border-bottom-width: 7rem;
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  background: #ecede7;
  position: relative;
}

button {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 0;
}

.footer {
  font-size: 1.4rem;
  position: absolute;
  color: #ecede7;
  right: 0;
  padding: 1rem;
}

.footer a {
  color: #e1eab0;
}

/* media queries */
@media screen and (max-width: 800px) {
  html {
    font-size: 59%;
  }
}

@media screen and (max-width: 650px) {
  html {
    font-size: 57%;
  }

  .container {
    margin: 0;
  }
}
