* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  color: #777;
}

ul {
  list-style: none;
}

.container {
  max-width: 72rem;
  margin: 5rem auto;
  border: 1px solid black;
}

h1 {
  text-align: center;
}

button {
  padding: 1rem 1.2rem;
  margin: 0.5rem;
}
