* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  color: #777;
  font-family: 'Chakra Petch', sans-serif;
  background: #f7f7f7;
}

ul {
  list-style: none;
}

.container {
  max-width: 72rem;
  margin: 2rem auto;
  border: 10px solid rgba(0, 0, 0, 0.8);
  border-bottom-width: 7rem;
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  min-height: 85vh;
  background: #ecede7;
}

button {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 0;
}
